{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>News HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href={% static 'assets/favicon.png' %}>
    <!-- Place favicon.ico in the root directory -->
    
  <!-- CSS here -->
  <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
  <link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
  <link rel="stylesheet" href={% static "css/slicknav.css" %}>
  <link rel="stylesheet" href={% static "css/animate.min.css" %}>
  <link rel="stylesheet" href={% static "css/magnific-popup.css" %}>
  <link rel="stylesheet" href={% static "css/fontawesome-all.min.css" %}>
  <link rel="stylesheet" href={% static "css/themify-icons.css" %}>
  <link rel="stylesheet" href={% static "css/themify-icons.css" %}>
  <link rel="stylesheet" href={% static "css/slick.css" %}> 
  <link rel="stylesheet" href={% static "css/nice-select.css" %}>
  <link rel="stylesheet" href={% static "css/style.css" %}>
  <link rel="stylesheet" href={% static "css/responsive.css" %}>
</head>

<body>
    
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src={% static "img/logo/logo.png" %} alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top black-bg d-none d-md-block">
                   <div class="container">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>     
                                        
                                        
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">    
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                       <li> <a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
                <div class="header-mid d-none d-md-block">
                   <div class="container">
                        <div class="row d-flex align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-3 col-lg-3 col-md-3">
                                <div class="logo">
                                    <a href="../"><img src={% static "img/logo/logo.png" %} alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="header-banner f-right ">
                                    <img src={% static "img/hero/header_card.jpg" %} alt="">
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
               <div class="header-bottom header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-10 col-lg-10 col-md-12 header-flex">
                                <!-- sticky -->
                                    <div class="sticky-logo">
                                        <a href="../><img src={% static "img/logo/logo.png" %} alt=""></a>
                                    </div>
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-md-block">
                                    <nav>                  
                                        <ul id="navigation">    
                                            <li><a href="../">Home</a></li>
                                            <li><a href="../categori">Category</a></li>
                                            <li><a href="../about">About</a></li>
                                            <li><a href="../contact">Contact</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>             
                            <div class="col-xl-2 col-lg-2 col-md-4">
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    <i class="fas fa-search special-tag"></i>
                                    <div class="search-box">
                                        <form action="#">
                                            <input type="text" placeholder="Search">
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-md-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 posts-list">
             <div class="single-post">
                <div class="feature-img">
                   <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                </div>
                <div class="blog_details">
                   <h2>Taiki「糖分は当分いらへんな」
                   </h2>
                   <ul class="blog-info-link mt-3 mb-4">
                      <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                   </ul>
                   <p class="excert">
                    Taiki「糖分は当分いらへんな」<br>　Taiki、糖分の取りすぎが与えるリスク、間食や血糖値に関するリテラシーについて語る。<br>

                情報科の学校でプログラミングを学び、投資や実業家の顔も持ち合わせている若い成功者、Taikiさん。彼は最近、糖分の摂りすぎが体に及ぼす悪影響に気づき、食生活を見直したという。私たちはTaikiさんにインタビューを行い、糖分の取りすぎが与えるリスクや、間食や血糖値に関するリテラシーについて聞いてみた。<br>
                
                ――Taikiさんはどのようにして糖分の摂りすぎに気づいたのですか？<br>
                
                Taiki:俺はずっと甘いものが好きで、コーヒーには砂糖をたくさん入れたり、お菓子やジュースをよく飲んだりしてたんや。でも、最近になって、疲れやすくなったり、イライラしたり、集中力がなくなったりすることが多くなってきて、何かおかしいと思って病院に行ったんや。そしたら、血糖値が高くて、糖尿病の予備軍だと言われたんや。それで、糖分の摂りすぎが原因かもしれないと思って、調べてみたんや。<br>
                
                ――糖分の摂りすぎが体に与える影響について、どのようなことを調べましたか？<br>
                
                Taiki:まず、糖分とは何かということから調べたんや。糖分とは、糖質の中で甘みの原料となる単糖類や二糖類のことで、ブドウ糖や果糖、砂糖などがそれにあたるんや。糖質はエネルギー源として必要なものやけど、糖分は消化・吸収が早くて、血糖値を急上昇させるんや。それで、インスリンというホルモンが分泌されて、血糖値を下げようとするんやけど、糖分を摂りすぎるとインスリンの働きが悪くなって、血糖値が高いままになるんや。それが糖尿病の原因になるんや。<br>
                
                ――糖尿病になるとどうなるのですか？<br>
                
                Taiki:糖尿病になると、血管が傷ついて、心筋梗塞や脳梗塞などの動脈硬化のリスクが高くなるんや。それに、目や腎臓、神経などの合併症も起こりやすくなるんや。糖尿病は、一度なると治らない病気やから、早めに予防することが大切なんや。<br>
                
                ――糖尿病の予防のために、どのような食生活を心がけていますか？
                
                Taiki:糖尿病の予防のためには、糖分の摂りすぎを避けることが重要やと思うんや。それで、俺は、コーヒーに砂糖を入れないようにしたり、お菓子やジュースを控えたりしてるんや。間食は、タンパク質や食物繊維を摂れるものを選んで、カロリーや糖質の量を気をつけてるんや。例えば、チーズやナッツ、ゆで卵などがおすすめやと聞いたんや。あと、食事のバランスも大事やと思うんや。玄米や豚肉、野菜など、ビタミンB群やミネラルが豊富に含まれる食品を積極的にとるようにしてるんや。<br>
                
                ――間食のタイミングはいつがベストだと思いますか？<br>
                
                Taiki:間食のタイミングは、食事と食事の間に空腹を感じたときや、血糖値が低くなりそうなときにするのがよいと思うんや。食事の間隔が長すぎると、血糖値が急上昇するリスクが高くなるから、3時間から4時間くらいが目安やと聞いたんや。ただ、夜は避けた方がよいと思うんや。夜に間食をすると、脂肪が蓄積しやすくなるし、睡眠の質も悪くなるから、夕食後は何も食べないようにしてるんや。<br>
                
                ――糖分の摂りすぎを防ぐために、他に工夫していることはありますか？
                
                Taiki:糖分の摂りすぎを防ぐためには、甘いものを身の周りに置かないことが大事やと思うんや。俺は、お菓子やジュースを買わないようにしたり、自宅や職場に置かないようにしたりしてるんや。それに、空腹を感じたり、甘いものが食べたくなったときには、フルーツやサツマイモなど自然な甘みのものを、食べ過ぎないようにしっかりと噛んで食べるようにしてるんや。疲れを甘いものでごまかさず、休憩をとるようにするとともに、温かいお茶やコーヒーで一息つくようにしてるんや。イライラが続くようであれば、ウォーキングやストレッチなどの適度な運動や規則正しい生活を心がけ、十分な睡眠をとるようにしてるんや。<br>
                
                ――最後に、糖分の摂りすぎに気づいてから、体調や気分に変化はありましたか？
                
                Taiki:糖分の摂りすぎに気づいてから、体調や気分には明らかな変化があったと思うんや。疲れやすさやイライラ感が減って、集中力ややる気が上がったと感じるんや。それに、体重も減って、肌の調子もよくなったと思うんや。血糖値も安定してきて、糖尿病の予備軍から脱出でれたんや。糖分の摂りすぎは、体にも心にも悪いことが分かったんや。「糖分は当分いらへんなと思うんや。」<br>
                
                ――Taikiさん、ありがとうございました。糖分の摂りすぎに注意することの大切さを教えていただきました。皆さんも、糖分の摂りすぎには気をつけて、健康的な食生活を送りましょう。
                   </p>
                </div>
             </div>
             <div class="navigation-top">
                <div class="d-sm-flex justify-content-between text-center">
                   <div class="col-sm-4 text-center my-2 my-sm-0">
                      <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                   </div>
                   <ul class="social-icons">
                   </ul>
                </div>
                <div class="navigation-area">
                   <div class="row">
                      <div
                         class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                         <div class="thumb">
                            <a href="#">
                            </a>
                         </div>
                         <div class="arrow">
                            <a href="#">
                            </a>
                         </div>
                         <div class="detials">
                               <h4></h4>
                            </a>
                         </div>
                      </div>
                      <div
                         class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                         <div class="detials">
                               <h4></h4>
                            </a>
                         </div>
                         <div class="arrow">
                            <a href="#">
                            
                            </a>
                         </div>
                         <div class="thumb">
                            <a href="#">
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="blog-author">
                <div class="media align-items-center">
                   <img src="assets/img/blog/author.png" alt="">
                   <div class="media-body">
                         <h4>Taiki the bigdaddy</h4>
                      </a>
                      <p>偉大なる人物</p>
                   </div>
                </div>
             </div>
             
                </aside>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--================ Blog Area end =================-->

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding fix">
             <div class="container">
                 <div class="row d-flex justify-content-between">
                     <div class="col-xl-5 col-lg-5 col-md-7 col-sm-12">
                         <div class="single-footer-caption">
                             <div class="single-footer-caption">
                                 <!-- logo -->
                                 <div class="footer-logo">
                                     <a href="../"><img src={% static "img/logo/logo2_footer.png" %} alt=""></a>
                                 </div>
                                 <div class="footer-tittle">
                                     <div class="footer-pera">
                                         <p>Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus tempor da blandit gravida sodales  Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus tempor da blandit gravida sodales  Suscipit mauris pede for sectetuer.</p>
                                     </div>
                                 </div>
                                 <!-- social -->
                                 <div class="footer-social">
                                     <a href="#"><i class="fab fa-twitter"></i></a>
                                     <a href="#"><i class="fab fa-instagram"></i></a>
                                     <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-4  col-sm-6">
                         <div class="single-footer-caption mt-60">
                             <div class="footer-tittle">
                                 <h4>Newsletter</h4>
                                 <p>Heaven fruitful doesn't over les idays appear creeping</p>
                                 <!-- Form -->
                                 <div class="footer-form" >
                                     <div id="mc_embed_signup">
                                         <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                         method="get" class="subscribe_form relative mail_part">
                                             <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                             class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                             onblur="this.placeholder = ' Email Address '">
                                             <div class="form-icon">
                                             <button type="submit" name="submit" id="newsletter-submit"
                                             class="email_icon newsletter-submit button-contactForm"><img src={% static "img/logo/form-iocn.png" alt=""></button>
                                             </div>
                                             <div class="mt-10 info"></div>
                                         </form>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                         <div class="single-footer-caption mb-50 mt-60">
                             <div class="footer-tittle">

                             </div>

                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex align-items-center justify-content-between">
                         <div class="col-lg-6">
                             <div class="footer-copy-right">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                         <div class="col-lg-6">
                             <div class="footer-menu f-right">
                                 <ul>                             
                                     <li><a href="#">Terms of use</a></li>
                                     <li><a href="#">Privacy Policy</a></li>
                                     <li><a href="#">Contact</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src={% static "js/vendor/modernizr-3.5.0.min.js" %} ></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src={% static "js/vendor/jquery-1.12.4.min.js" %}></script>
        <script src={% static "js/popper.min.js" %}></script>
        <script src={% static "js/bootstrap.min.js" %}></script>
	    <!-- Jquery Mobile Menu -->
        <script src={% static "js/jquery.slicknav.min.js" %}></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src={% static "js/owl.carousel.min.js" %}></script>
        <script src={% static "js/slick.min.js" %}></script>

		<!-- One Page, Animated-HeadLin -->
        <script src={% static "js/wow.min.js" %}></script>
		<script src={% static "js/animated.headline.js" %}></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script src={% static "js/jquery.scrollUp.min.js" %}></script>
        <script src={% static "js/jquery.nice-select.min.js" %}></script>
		<script src={% static "js/jquery.sticky.js" %}></script>
        <script src={% static "js/jquery.magnific-popup.js" %}></script>

        <!-- contact js -->
        <script src={% static "js/contact.js" %}></script>
        <script src={% static "js/jquery.form.js" %}></script>
        <script src={% static "js/jquery.validate.min.js" %}></script>
        <script src={% static "js/mail-script.js" %}></script>
        <script src={% static "js/jquery.ajaxchimp.min.js" %}></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src={% static "js/plugins.js" %}></script>
        <script src={% static "js/main.js" %}></script>

</body>
</html>