{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>News HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href={% static 'assets/favicon.png' %}>
    <!-- Place favicon.ico in the root directory -->
    
  <!-- CSS here -->
  <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
  <link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
  <link rel="stylesheet" href={% static "css/slicknav.css" %}>
  <link rel="stylesheet" href={% static "css/animate.min.css" %}>
  <link rel="stylesheet" href={% static "css/magnific-popup.css" %}>
  <link rel="stylesheet" href={% static "css/fontawesome-all.min.css" %}>
  <link rel="stylesheet" href={% static "css/themify-icons.css" %}>
  <link rel="stylesheet" href={% static "css/themify-icons.css" %}>
  <link rel="stylesheet" href={% static "css/slick.css" %}> 
  <link rel="stylesheet" href={% static "css/nice-select.css" %}>
  <link rel="stylesheet" href={% static "css/style.css" %}>
  <link rel="stylesheet" href={% static "css/responsive.css" %}>
</head>

<body>
    
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src={% static "img/logo/logo.png" %} alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top black-bg d-none d-md-block">
                   <div class="container">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>     
                                        
                                        
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">    
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                       <li> <a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
                <div class="header-mid d-none d-md-block">
                   <div class="container">
                        <div class="row d-flex align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-3 col-lg-3 col-md-3">
                                <div class="logo">
                                    <a href="../"><img src={% static "img/logo/logo.png" %} alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="header-banner f-right ">
                                    <img src={% static "img/hero/header_card.jpg" %} alt="">
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
               <div class="header-bottom header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-10 col-lg-10 col-md-12 header-flex">
                                <!-- sticky -->
                                    <div class="sticky-logo">
                                        <a href="../><img src={% static "img/logo/logo.png" %} alt=""></a>
                                    </div>
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-md-block">
                                    <nav>                  
                                        <ul id="navigation">    
                                            <li><a href="../">Home</a></li>
                                            <li><a href="../categori">Category</a></li>
                                            <li><a href="../about">About</a></li>
                                            <li><a href="../contact">Contact</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>             
                            <div class="col-xl-2 col-lg-2 col-md-4">
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    <i class="fas fa-search special-tag"></i>
                                    <div class="search-box">
                                        <form action="#">
                                            <input type="text" placeholder="Search">
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-md-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 posts-list">
             <div class="single-post">
                <div class="feature-img">
                   <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                </div>
                <div class="blog_details">
                   <h2>Taiki、クリスマスの起源を語る
                   </h2>
                   <ul class="blog-info-link mt-3 mb-4">
                      <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                   </ul>
                   <p class="excert">
                    

                    質問: Taikiさんは、クリスマスをどのように祝いますか？ <br>
                    Taiki: 俺は、クリスマスを家族や恋人と過ごすことが多いです。プレゼントを贈ったり、ケーキやチキンを食べたり、イルミネーションを見に行ったりします。クリスマスは日本の冬の風物詩ですからね。でも、クリスマスの本当の意味を知っている人は少ないと思います。<br>

                    質問: クリスマスの本当の意味とは何ですか？ <br>
                    Taiki: クリスマスは、キリスト教の祭日で、イエス・キリストの誕生を記念する日です。キリスト教は、イエス・キリストが神の子であり、人類の罪を赦すために十字架にかかったと信じる宗教です。キリスト教は世界で最も信者の多い宗教で、約20億人が信仰しています。<br>

                    質問: クリスマスはイエス・キリストの誕生日なのですか？ <br>
                    Taiki: 実は、イエス・キリストの誕生日は聖書には書かれておらず、正確には分かっていません。クリスマスが12月25日に祝われるようになったのは、古代ローマ帝国の影響だと言われています。古代ローマでは、12月25日は太陽神の祭日でした。キリスト教は、この日をキリストの誕生日として定めることで、異教徒との対立を避けたという説があります。<br>

                    質問: 日本ではなぜクリスマスを祝うのですか？ <br>
                    Taiki: 日本では、キリスト教を信仰する人は少数派ですが、クリスマスは文化的なイベントとして広まっています。日本にクリスマスが伝わったのは、16世紀に宣教師のフランシスコ・ザビエルが来日したときと言われています。しかし、その後キリスト教は禁教となり、クリスマスも途絶えました。明治時代になって、西洋文化の影響を受けて、クリスマスが再び流行し始めました。特に戦後は、テレビや音楽などのメディアがクリスマスを盛り上げました。日本では、クリスマスは家族や恋人と楽しむ日として定着しています。<br>
                   </p>
                </div>
             </div>
             <div class="navigation-top">
                <div class="d-sm-flex justify-content-between text-center">
                   <div class="col-sm-4 text-center my-2 my-sm-0">
                      <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                   </div>
                   <ul class="social-icons">
                   </ul>
                </div>
                <div class="navigation-area">
                   <div class="row">
                      <div
                         class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                         <div class="thumb">
                            <a href="#">
                            </a>
                         </div>
                         <div class="arrow">
                            <a href="#">
                            </a>
                         </div>
                         <div class="detials">
                               <h4></h4>
                            </a>
                         </div>
                      </div>
                      <div
                         class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                         <div class="detials">
                               <h4></h4>
                            </a>
                         </div>
                         <div class="arrow">
                            <a href="#">
                            
                            </a>
                         </div>
                         <div class="thumb">
                            <a href="#">
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="blog-author">
                <div class="media align-items-center">
                   <img src="assets/img/blog/author.png" alt="">
                   <div class="media-body">
                         <h4>Taiki the bigdaddy</h4>
                      </a>
                      <p>偉大なる人物</p>
                   </div>
                </div>
             </div>
             
                </aside>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--================ Blog Area end =================-->

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding fix">
             <div class="container">
                 <div class="row d-flex justify-content-between">
                     <div class="col-xl-5 col-lg-5 col-md-7 col-sm-12">
                         <div class="single-footer-caption">
                             <div class="single-footer-caption">
                                 <!-- logo -->
                                 <div class="footer-logo">
                                     <a href="../"><img src={% static "img/logo/logo2_footer.png" %} alt=""></a>
                                 </div>
                                 <div class="footer-tittle">
                                     <div class="footer-pera">
                                         <p>Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus tempor da blandit gravida sodales  Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus tempor da blandit gravida sodales  Suscipit mauris pede for sectetuer.</p>
                                     </div>
                                 </div>
                                 <!-- social -->
                                 <div class="footer-social">
                                     <a href="#"><i class="fab fa-twitter"></i></a>
                                     <a href="#"><i class="fab fa-instagram"></i></a>
                                     <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-4  col-sm-6">
                         <div class="single-footer-caption mt-60">
                             <div class="footer-tittle">
                                 <h4>Newsletter</h4>
                                 <p>Heaven fruitful doesn't over les idays appear creeping</p>
                                 <!-- Form -->
                                 <div class="footer-form" >
                                     <div id="mc_embed_signup">
                                         <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                         method="get" class="subscribe_form relative mail_part">
                                             <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                             class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                             onblur="this.placeholder = ' Email Address '">
                                             <div class="form-icon">
                                             <button type="submit" name="submit" id="newsletter-submit"
                                             class="email_icon newsletter-submit button-contactForm"><img src={% static "img/logo/form-iocn.png" alt=""></button>
                                             </div>
                                             <div class="mt-10 info"></div>
                                         </form>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                         <div class="single-footer-caption mb-50 mt-60">
                             <div class="footer-tittle">

                             </div>

                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex align-items-center justify-content-between">
                         <div class="col-lg-6">
                             <div class="footer-copy-right">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                         <div class="col-lg-6">
                             <div class="footer-menu f-right">
                                 <ul>                             
                                     <li><a href="#">Terms of use</a></li>
                                     <li><a href="#">Privacy Policy</a></li>
                                     <li><a href="#">Contact</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src={% static "js/vendor/modernizr-3.5.0.min.js" %} ></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src={% static "js/vendor/jquery-1.12.4.min.js" %}></script>
        <script src={% static "js/popper.min.js" %}></script>
        <script src={% static "js/bootstrap.min.js" %}></script>
	    <!-- Jquery Mobile Menu -->
        <script src={% static "js/jquery.slicknav.min.js" %}></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src={% static "js/owl.carousel.min.js" %}></script>
        <script src={% static "js/slick.min.js" %}></script>

		<!-- One Page, Animated-HeadLin -->
        <script src={% static "js/wow.min.js" %}></script>
		<script src={% static "js/animated.headline.js" %}></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script src={% static "js/jquery.scrollUp.min.js" %}></script>
        <script src={% static "js/jquery.nice-select.min.js" %}></script>
		<script src={% static "js/jquery.sticky.js" %}></script>
        <script src={% static "js/jquery.magnific-popup.js" %}></script>

        <!-- contact js -->
        <script src={% static "js/contact.js" %}></script>
        <script src={% static "js/jquery.form.js" %}></script>
        <script src={% static "js/jquery.validate.min.js" %}></script>
        <script src={% static "js/mail-script.js" %}></script>
        <script src={% static "js/jquery.ajaxchimp.min.js" %}></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src={% static "js/plugins.js" %}></script>
        <script src={% static "js/main.js" %}></script>

</body>
</html>