{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>News HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href={% static 'assets/favicon.png' %}>
    <!-- Place favicon.ico in the root directory -->
    
  <!-- CSS here -->
  <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
  <link rel="stylesheet" href={% static "css/owl.carousel.min.css" %}>
  <link rel="stylesheet" href={% static "css/slicknav.css" %}>
  <link rel="stylesheet" href={% static "css/animate.min.css" %}>
  <link rel="stylesheet" href={% static "css/magnific-popup.css" %}>
  <link rel="stylesheet" href={% static "css/fontawesome-all.min.css" %}>
  <link rel="stylesheet" href={% static "css/themify-icons.css" %}>
  <link rel="stylesheet" href={% static "css/themify-icons.css" %}>
  <link rel="stylesheet" href={% static "css/slick.css" %}> 
  <link rel="stylesheet" href={% static "css/nice-select.css" %}>
  <link rel="stylesheet" href={% static "css/style.css" %}>
  <link rel="stylesheet" href={% static "css/responsive.css" %}>
</head>

<body>
    
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src={% static "img/logo/logo.png" %} alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header ">
                <div class="header-top black-bg d-none d-md-block">
                   <div class="container">
                       <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left">
                                    <ul>     
                                        
                                        
                                    </ul>
                                </div>
                                <div class="header-info-right">
                                    <ul class="header-social">    
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                       <li> <a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
                <div class="header-mid d-none d-md-block">
                   <div class="container">
                        <div class="row d-flex align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-3 col-lg-3 col-md-3">
                                <div class="logo">
                                    <a href="../"><img src={% static "img/logo/logo.png" %} alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <div class="header-banner f-right ">
                                    <img src={% static "img/hero/header_card.jpg" %} alt="">
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
               <div class="header-bottom header-sticky">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-10 col-lg-10 col-md-12 header-flex">
                                <!-- sticky -->
                                    <div class="sticky-logo">
                                        <a href="../><img src={% static "img/logo/logo.png" %} alt=""></a>
                                    </div>
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-md-block">
                                    <nav>                  
                                        <ul id="navigation">    
                                            <li><a href="../">Home</a></li>
                                            <li><a href="../categori">Category</a></li>
                                            <li><a href="../about">About</a></li>
                                            <li><a href="../contact">Contact</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>             
                            <div class="col-xl-2 col-lg-2 col-md-4">
                                <div class="header-right-btn f-right d-none d-lg-block">
                                    <i class="fas fa-search special-tag"></i>
                                    <div class="search-box">
                                        <form action="#">
                                            <input type="text" placeholder="Search">
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-md-none"></div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 posts-list">
             <div class="single-post">
                <div class="feature-img">
                   <img class="img-fluid" src="assets/img/blog/single_blog_1.png" alt="">
                </div>
                <div class="blog_details">
                   <h2>Taiki、ニーチェ哲学について語る
                   </h2>
                   <ul class="blog-info-link mt-3 mb-4">
                      <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                   </ul>
                   <p class="excert">
                    Taikiが、ニーチェの思想に大きな影響を受けたことを明かし、現代社会におけるニーチェの意義や自分の生き方について語りました。Taikiは投資や実業家の顔も持ち合わせている若い成功者です。インタビューの内容は以下の通りです。<br><br>
                    質問: Taikiさんは、ニーチェの思想にどのように出会いましたか？<br>
                    Taiki: 俺は、高校の倫理の授業でニーチェの名前を初めて聞きました。その時はあまり興味がなかったんですが、専門学校で英語を勉強しているときに、ニーチェの本を手に取りました。その本は「力への意志」という本で、ニーチェが西洋哲学の歴史を批判し、新しい価値観を提唱した本です。その本を読んで、ニーチェの思想に衝撃を受けました。<br>
                    質問: どのような衝撃を受けましたか？<br>
                    Taiki: ニーチェは、現代の社会が科学によって目標や意味を失っていると言っています。キリスト教などによって生きる理由や目標を与えられていた人たちが、科学の進歩によって無神論者などになってしまい目標を失ってしまったと言っているのです。有名な言葉として、ニーチェは神は死んだという言葉がありますよね。これは日本にも言えることです、日本は比較的無神論者が多い国なので(笑)。ニーチェは、そのような状況に対して、自分自身で価値を創造し、自分の生き方を決めることを求めています。ニーチェは、自分の人生を肯定し、永劫回帰[1]という考え方によって、自分の人生を何度も繰り返すことができるとしたら、それを喜べるかと問いかけています。ニーチェは、そのような人生を運命愛と呼び、それを体現する新たな人間の理想像を超人と呼んだんですね。ニーチェの思想は、自分の人生に責任を持ち、自分の人生を充実させることを教えてくれます。<br>
                    質問: Taikiさんは、ニーチェの思想をどのように実践していますか？<br>
                    Taiki: 俺は、ニーチェの思想を実践するために、自分の好きなことや興味のあることに積極的に挑戦しています。例えば、プログラミングは、自分の創造力を発揮できる分野だと思っています。プログラミングを通して、自分のアイデアを形にすることができます。また、投資や実業家としても、自分の判断力や決断力を試すことができます。投資や実業家として成功することは、自分の価値を創造することだと思っています。車はセリカに乗っていますが、それも自分の好みや個性を表現する一つの手段だと思っています。ニーチェの思想は、自分の人生を自分のものにすることを促してくれます。<br>
                    
                    [1]「永劫回帰」とは、個人の人生が永遠に繰り返されるという考え方です。
                    例えば、ある人が5歳の時につらい出来事を経験をしたとします。
                    永劫回帰の考え方によれば、この人は全く同じ人生を永遠に繰り返すことになります。
                    つまり、生まれ変わったら別の人生があるのではなく、5歳の時にはまたつらい経験をしてしまうのです。
                    ニーチェは、苦しい過去も楽しい過去もすべて肯定的に捉え、その過去を踏まえてこれから最善の行動をとるべきだと主張しています
                   </p>
                </div>
             </div>
             <div class="navigation-top">
                <div class="d-sm-flex justify-content-between text-center">
                   <div class="col-sm-4 text-center my-2 my-sm-0">
                      <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                   </div>
                   <ul class="social-icons">
                   </ul>
                </div>
                <div class="navigation-area">
                   <div class="row">
                      <div
                         class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                         <div class="thumb">
                            <a href="#">
                            </a>
                         </div>
                         <div class="arrow">
                            <a href="#">
                            </a>
                         </div>
                         <div class="detials">
                               <h4></h4>
                            </a>
                         </div>
                      </div>
                      <div
                         class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                         <div class="detials">
                               <h4></h4>
                            </a>
                         </div>
                         <div class="arrow">
                            <a href="#">
                            
                            </a>
                         </div>
                         <div class="thumb">
                            <a href="#">
                            </a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="blog-author">
                <div class="media align-items-center">
                   <img src="assets/img/blog/author.png" alt="">
                   <div class="media-body">
                         <h4>Taiki the bigdaddy</h4>
                      </a>
                      <p>偉大なる人物</p>
                   </div>
                </div>
             </div>
             
                </aside>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--================ Blog Area end =================-->

    <footer>
        <!-- Footer Start-->
        <div class="footer-area footer-padding fix">
             <div class="container">
                 <div class="row d-flex justify-content-between">
                     <div class="col-xl-5 col-lg-5 col-md-7 col-sm-12">
                         <div class="single-footer-caption">
                             <div class="single-footer-caption">
                                 <!-- logo -->
                                 <div class="footer-logo">
                                     <a href="../"><img src={% static "img/logo/logo2_footer.png" %} alt=""></a>
                                 </div>
                                 <div class="footer-tittle">
                                     <div class="footer-pera">
                                         <p>Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus tempor da blandit gravida sodales  Suscipit mauris pede for con sectetuer sodales adipisci for cursus fames lectus tempor da blandit gravida sodales  Suscipit mauris pede for sectetuer.</p>
                                     </div>
                                 </div>
                                 <!-- social -->
                                 <div class="footer-social">
                                     <a href="#"><i class="fab fa-twitter"></i></a>
                                     <a href="#"><i class="fab fa-instagram"></i></a>
                                     <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-4  col-sm-6">
                         <div class="single-footer-caption mt-60">
                             <div class="footer-tittle">
                                 <h4>Newsletter</h4>
                                 <p>Heaven fruitful doesn't over les idays appear creeping</p>
                                 <!-- Form -->
                                 <div class="footer-form" >
                                     <div id="mc_embed_signup">
                                         <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                         method="get" class="subscribe_form relative mail_part">
                                             <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                             class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                             onblur="this.placeholder = ' Email Address '">
                                             <div class="form-icon">
                                             <button type="submit" name="submit" id="newsletter-submit"
                                             class="email_icon newsletter-submit button-contactForm"><img src={% static "img/logo/form-iocn.png" alt=""></button>
                                             </div>
                                             <div class="mt-10 info"></div>
                                         </form>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                         <div class="single-footer-caption mb-50 mt-60">
                             <div class="footer-tittle">

                             </div>

                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                     <div class="row d-flex align-items-center justify-content-between">
                         <div class="col-lg-6">
                             <div class="footer-copy-right">
                                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                             </div>
                         </div>
                         <div class="col-lg-6">
                             <div class="footer-menu f-right">
                                 <ul>                             
                                     <li><a href="#">Terms of use</a></li>
                                     <li><a href="#">Privacy Policy</a></li>
                                     <li><a href="#">Contact</a></li>
                                 </ul>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>

    <!-- JS here -->

		<!-- All JS Custom Plugins Link Here here -->
        <script src={% static "js/vendor/modernizr-3.5.0.min.js" %} ></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src={% static "js/vendor/jquery-1.12.4.min.js" %}></script>
        <script src={% static "js/popper.min.js" %}></script>
        <script src={% static "js/bootstrap.min.js" %}></script>
	    <!-- Jquery Mobile Menu -->
        <script src={% static "js/jquery.slicknav.min.js" %}></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src={% static "js/owl.carousel.min.js" %}></script>
        <script src={% static "js/slick.min.js" %}></script>

		<!-- One Page, Animated-HeadLin -->
        <script src={% static "js/wow.min.js" %}></script>
		<script src={% static "js/animated.headline.js" %}></script>
		
		<!-- Scrollup, nice-select, sticky -->
        <script src={% static "js/jquery.scrollUp.min.js" %}></script>
        <script src={% static "js/jquery.nice-select.min.js" %}></script>
		<script src={% static "js/jquery.sticky.js" %}></script>
        <script src={% static "js/jquery.magnific-popup.js" %}></script>

        <!-- contact js -->
        <script src={% static "js/contact.js" %}></script>
        <script src={% static "js/jquery.form.js" %}></script>
        <script src={% static "js/jquery.validate.min.js" %}></script>
        <script src={% static "js/mail-script.js" %}></script>
        <script src={% static "js/jquery.ajaxchimp.min.js" %}></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src={% static "js/plugins.js" %}></script>
        <script src={% static "js/main.js" %}></script>

</body>
</html>